*.DS_Store
*.pyc
*.ini
DADOS/IMAGENS/*
DADOS/GLESTACAO/*
DADOS/GLGOES/*
DADOS/GLGOESbin/*
DADOS/GLGOESbin_horarios/*
DADOS/INMET/*
DADOS/SONDA/*
DADOS/SOLRADNET/*
DADOS/OUTPUT/*
DADOS/OUTPUT_GL/*
DADOS/TXT/*